*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#left-pannel {
    height: 100vh;
    width: 35vw;
    float: left; 
    background-image: url('imgs/tropical.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f0f0; 
}

#logo-container{
    width: 100%;
    height: 20%;
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    color(srgb red green blue);
    display: flex;
    align-items: center; 
    justify-content: center;
}

@font-face {
    font-family: 'Odin';
    src: url('imgs/Norse-Bold.otf') format('truetype'); /* Use the correct format */
}

h1{
    font-family: 'Odin';
    color: white;
    font-size: 500%;
}

#odin-logo{
    height: 100%;
    width: 22%;
    padding: 2.5%;
}

#right-pannel {
    height: 100vh;
    width: 65vw;
}

#description{
    width: 100vw;
    background-color: #f0f0f0;
    padding-top: 16vh;
    padding-bottom: 8vh;
    padding-right: 20vw;
    padding-left: 38vw;
}

#h2-margin{
    margin-top: 4%;
}

#form-container{
    width: 100vw;  
    padding: 20px; 
    padding-right: 20vw;
    padding-left: 38vw;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adds spacing between items */
}

p{
    padding: 1%;
}

input{
    display: block;
}

#button-container{
    padding: 1%;
    width: 100vw;
    background-color: #f0f0f0;
    padding-top : 10%;
    padding-left: 60%;
}

a{
    text-decoration: none;
}